body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #C1DBF5;
}

h1, h2, h3, h4, h5, h6, p {font-family: 'Ubuntu', sans-serif;}

a {
  color: #00B7FF;
}

.mainpage-header{margin:30px 0;}
.navbar-gray {color:#999999;}
.vertical-margin {margin: 10px 0;}