<div class="visible-lg">
    <div style="width:100%;">
        <div style="float:left;width:85%;">
            <div style="padding-top:50px;">
                <div class="js-activity-box">
                    <div style="text-align:center;border-bottom:3px solid #666E67;">
                        <h2 class="black" style="display:block;">Graph</h2>
                        <span class="body black">Visual representation of your activities</span>
                    </div>
                    <div style="width:100%;height:50vh;background-color:#ffffff;">
                        <div style="float:left;margin:0 auto;">                            
                            <div google-chart chart="googlechart" style="margin-left:380px;margin-top:8px;"/>
                        </div>                        
                    </div>
                    <div class="body" style="width:100%;">
                        <div style="float:left;width:50%;border-top:3px solid #666E67;">
                            <div style="text-align:center;padding-top:5px;">
                                <div class="btn btn-default" title="Previous day" ng-click="previousDay()"><i class="fa fa-angle-left"></i> Previous day</div>                
                            </div>                            
                        </div>
                        <div style="float:right;width:50%;border-top:3px solid #666E67;">
                            <div style="text-align:center;padding-top:5px;">
                                <div class="btn btn-default" title="Next day" ng-click="nextDay()">Next day <i class="fa fa-angle-right"></i></div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right;width:15%;">
            <div class="js-sidebutton">
                <a href="/#/home">
                    <div style="padding-top:20px;">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-list fa-inverse fa-stack-1x"></i>                        
                        </span>
                    </div>
                    <div class="header white">
                        <h3>Activities</h3>
                    </div>
                </a>                
            </div>
            <div class="js-sidebutton">                
                <div style="padding-top:20px;">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-bar-chart fa-inverse fa-stack-1x"></i>
                    </span>
                </div>
                <div class="header white">
                    <h3>Graph</h3>
                </div>                
            </div>
            <div class="js-sidebutton">
                <a href="/#/home/details">
                    <div style="padding-top:20px;">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-database fa-inverse fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="header white">
                        <h3>Details</h3>
                    </div>
                </a>                
            </div>
        </div>
    </div>
</div>





<!-- Tablet | 768-991px -->
<div class="visible-sm visible-md">
    
    <!-- Activities -->
    <div class="row">           
        <div class="col-md-12">
            <h1 class="text-center mainpage-header">Activities</h1>
            <div class="row">
                <form class="text-center" style="margin-bottom:30px;" novalidate>
                    <input type="text" placeholder="Activity name" ng-model="newActivityName" />
                    <input type="submit" value="Add activity" ng-click="newActivity(newActivityName)" />
                </form>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div ng-if="activities.length > 0">
                        <div class="row text-center">
                            <div class="btn btn-primary" title="Start tracking time for the selected activity" ng-click="startSelectedActivity()">Start selected activity</div>
                        </div>
                        <div class="row" ng-repeat="activity in activities | orderBy: 'name'">
                            <div class="btn btn-default text-left" title="Click to select this activity" ng-class="{ active : activity.selected }" ng-click="selectActivity(activity.name)">{{ activity.name }}</div>
                            <div class="btn btn-danger" title="Delete activity and all corresponding data" ng-click="deleteActivity(activity.name)" style="float:right;">Delete</div>                        
                        </div>
                    </div>
                    <div ng-if="activities.length == 0">
                        <div class="row text-center">
                            There are no activities found! Add one to get started
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Time Allocation -->
    <div class="row">        
        <div class="col-md-12 text-center">
            <h1 class="mainpage-header">Time Allocation</h1>
            <div class="row">
                <h4>Tracking time for: [ <span style="font-weight:bold;">{{activeActivity.val}}</span> ]</h4>
            </div>
            <div class="row">
                <div class="btn-group">
                    <div class="btn btn-default navbar-gray" title="Pause current activity" ng-click="idleSwap()">switch to [ {{ idleActivity.val }} ]</div>
                    <div class="btn btn-default navbar-gray" title="Reset tracking to a fresh state" ng-click="reset()" ng-if="activeActivity.val == 'Idle' && idleActivity.val != 'Idle'">reset</div>
                    <div class="btn btn-default navbar-gray" title="Stop tracking for this activity" ng-click="stop()" ng-if="activeActivity.val != '' && activeActivity.val != 'Idle' && idleActivity.val == 'Idle'">stop activity</div>
                </div>
            </div>
            <div class="row">
                <div google-chart chart="googlechart" style="margin-left:185px;"/>
            </div>
            <div class="row vertical-margin">
                <div class="btn btn-default" title="Previous day" ng-click="previousDay()"><i class="fa fa-angle-left"></i></div>
                <div class="btn btn-default" title="Next day" ng-click="nextDay()"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="row">
                <div class="btn btn-success" title="Click to generate a chart" ng-click="generateChart()">Generate chart</div>
                <div class="btn btn-default" title="Auto-generate chart (5 sec. intervals)" ng-click="autogenerateChart()"><i class="fa fa-refresh js-autogenerate-chart"></i></div>
            </div>
        </div>
    </div>
    
    <!-- Graph Details -->
    <div class="row">           
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mainpage-header">Graph Details</h1>
                    <div class="row">
                        <div ng-if="googlechartdetails.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>&asymp; %</td>
                                        <td>Activity</td>
                                        <td>Time</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in googlechartdetails | orderBy: '-value'">
                                        <td>{{activity.value}}%</td>
                                        <td>{{activity.name}}</td>
                                        <td ng-if="activity.str != ''">[{{activity.str}}]</td>
                                        <td ng-if="activity.str == ''">[N/A]</td>                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="googlechartdetails.length == 0">
                            No details to show
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
      
</div>





<!-- Mobile | < 768px -->
<div class="visible-xs">
    
    <!-- Activities -->
    <div class="row">           
        <div class="col-xs-12">
            <h1 class="text-center mainpage-header">Activities</h1>
            <div class="row">
                <form class="text-center" style="margin-bottom:30px;" novalidate>
                    <input type="text" placeholder="Activity name" ng-model="newActivityName" />
                    <input type="submit" value="Add activity" ng-click="newActivity(newActivityName)" />
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-if="activities.length > 0">
                        <div class="row text-center" style="margin-bottom:20px;">
                            <div class="btn btn-primary" title="Start tracking time for the selected activity" ng-click="startSelectedActivity()">Start selected activity</div>
                        </div>
                        <div class="row" ng-repeat="activity in activities | orderBy: 'name'">
                            <div class="btn btn-default text-left" title="Click to select this activity" ng-class="{ active : activity.selected }" ng-click="selectActivity(activity.name)">{{ activity.name }}</div>
                            <div class="btn btn-danger" title="Delete activity and all corresponding data" ng-click="deleteActivity(activity.name)" style="float:right;">Delete</div>                        
                        </div>
                    </div>
                    <div ng-if="activities.length == 0">
                        <div class="row text-center">
                            There are no activities found! Add one to get started
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Time Allocation -->
    <div class="row">        
        <div class="col-xs-12 text-center">
            <h1 class="mainpage-header">Time Allocation</h1>
            <div class="row">
                <h4>Tracking time for: [ <span style="font-weight:bold;">{{activeActivity.val}}</span> ]</h4>
            </div>
            <div class="row">
                <div class="btn-group">
                    <div class="btn btn-default navbar-gray" title="Pause current activity" ng-click="idleSwap()">switch to [ {{ idleActivity.val }} ]</div>
                    <div class="btn btn-default navbar-gray" title="Reset tracking to a fresh state" ng-click="reset()" ng-if="activeActivity.val == 'Idle' && idleActivity.val != 'Idle'">reset</div>
                    <div class="btn btn-default navbar-gray" title="Stop tracking for this activity" ng-click="stop()" ng-if="activeActivity.val != '' && activeActivity.val != 'Idle' && idleActivity.val == 'Idle'">stop activity</div>
                </div>
            </div>
            <div class="row">
                <div google-chart chart="googlechart" style="margin-left:-43px;"/>
            </div>
            <div class="row vertical-margin">
                <div class="btn btn-default" title="Previous day" ng-click="previousDay()"><i class="fa fa-angle-left"></i></div>
                <div class="btn btn-default" title="Next day" ng-click="nextDay()"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="row">
                <div class="btn btn-success" title="Click to generate a chart" ng-click="generateChart()">Generate chart</div>
                <div class="btn btn-default" title="Auto-generate chart (5 sec. intervals)" ng-click="autogenerateChart()"><i class="fa fa-refresh js-autogenerate-chart"></i></div>
            </div>
        </div>
    </div>
    
    <!-- Graph Details -->
    <div class="row">           
        <div class="col-xs-12 text-center">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="mainpage-header">Graph Details</h1>
                    <div class="row">
                        <div ng-if="googlechartdetails.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>&asymp; %</td>
                                        <td>Activity</td>
                                        <td>Time</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in googlechartdetails | orderBy: '-value'">
                                        <td>{{activity.value}}%</td>
                                        <td>{{activity.name}}</td>
                                        <td ng-if="activity.str != ''">[{{activity.str}}]</td>
                                        <td ng-if="activity.str == ''">[N/A]</td>                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="googlechartdetails.length == 0">
                            No details to show
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
    
</div>