<div class="visible-lg visible-md">
    <div style="width:100%;">
        <div style="float:left;width:85%;">
            <div style="padding-top:50px;">
                <div class="js-activity-box">
                    <div style="text-align:center;border-bottom:3px solid #666E67;">
                        <h2 class="black" style="display:block;">Graph</h2>
                        <span class="body black">Visual representation of your activities</span>
                    </div>
                    <div style="width:100%;height:50vh;background-color:#ffffff;">
                        <div style="float:left;margin:0 auto;">                            
                            <div google-chart chart="googlechart" style="margin-left:380px;margin-top:8px;"/>
                        </div>                        
                    </div>
                    <div class="body" style="width:100%;border-top:3px solid #666E67;">
                        <div style="float:left;width:25%;">
                            <div style="text-align:center;padding-top:5px;">
                                <div class="btn btn-default" title="Previous day" ng-click="previousDay()"><i class="fa fa-angle-left"></i> Previous day</div>                
                            </div>                            
                        </div>                        
                        <div style="float:left;width:25%;">
                            <div style="text-align:center;padding-top:5px;">
                                <div class="btn btn-primary" title="Click to generate a chart" ng-click="generateChart()">Generate chart</div>                
                            </div>
                        </div>
                        <div style="float:left;width:25%;">
                            <div style="text-align:center;padding-top:5px;">
                                <div disabled class="btn btn-default" title="Auto-generate chart (5 sec. intervals)" ng-click="autogenerateChart()"><i class="fa fa-refresh js-autogenerate-chart"></i></div>
                            </div>
                        </div>                        
                        <div style="float:right;width:25%;">
                            <div style="text-align:center;padding-top:5px;">
                                <div class="btn btn-default" title="Next day" ng-click="nextDay()">Next day <i class="fa fa-angle-right"></i></div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right;width:15%;">
            <div class="js-sidebutton">
                <a href="/#/home">
                    <div style="padding-top:20px;">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-list fa-inverse fa-stack-1x"></i>                        
                        </span>
                    </div>
                    <div class="header white">
                        <h3>Activities</h3>
                    </div>
                </a>                
            </div>
            <div class="js-sidebutton">                
                <div style="padding-top:20px;">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-bar-chart fa-inverse fa-stack-1x"></i>
                    </span>
                </div>
                <div class="header white">
                    <h3>Graph</h3>
                </div>                
            </div>
            <div class="js-sidebutton">
                <a href="/#/home/details">
                    <div style="padding-top:20px;">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-database fa-inverse fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="header white">
                        <h3>Details</h3>
                    </div>
                </a>                
            </div>
        </div>
    </div>
</div>