<!-- Desktop | 992px + -->
<div class="visible-lg">      
    <div class="row">
    
        <div class="col-lg-12">
            <h1 class="mainpage-header">Options</h1>
            <div class="row text-left">
                <div class="col-lg-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Delete all data</td>
                                <td><div class="btn btn-danger" ng-click="deleteAllData()">Delete</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        
    </div>
</div>

<!-- Tablet | 768-991px -->
<div class="visible-sm visible-md">
    <div class="row">
    
    </div>
</div>

<!-- Mobile | < 768px -->
<div class="visible-xs">
    <div class="row">
    
    </div>
</div>