<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            
            <div class="alert"></div>
            
            <form novalidate>
                <input type="text" placeholder="email" ng-model="userEmail" />
                <input type="password" placeholder="password" ng-model="userPassword" />
                <input type="submit" value="register" ng-click="registerUser(userEmail, userPassword)" />
            </form>
            
            {{ test }}
        </div>
    </div>
</div>