<div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index">Balance</a>
    
    <!-- Collapsed content -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!user.name"><a href="/auth/google"><i class="fa fa-sign-in"></i> Google</a></li>            
            <li ng-if="user.name"><a>Logged in as: {{user.name}}</a></li>
            <li ng-if="user.name"><a href="/"><i class="fa fa-wifi"> Sync</i></a></li>
            <li ng-if="user.name"><a href="/logout"><i class="fa fa-sign-out"></i> Signout</a></li>
            <li><a href="/options"><i class="fa fa-cog"></i> Options</a></li>
        </ul>
    </div>
</div>